body {
   background-image: url("../img/numbers.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   background-position: center;
}

.button {
   padding: 5px 10px;
   background-color: #f442b0;
   color: black;
   border-color: black;
   box-shadow: 2px 2px 1px grey;
   margin-top: 20px;
}
.guessBox {
   width: 80%;
   height: 80%;
    margin: 0 auto;
   text-align: center;
   padding-top: 50px;
}

.answerBox {
   margin: 0 auto;
   margin-top: 30px;
   color: black; 
   background-color: #710fdb;
   width: 40%;
   font-size: 30px;

}
