body {
   background-image: url("../img/numbers.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   background-position: center;
   font-family: 'Macondo', cursive;
}

.button {
   padding: 5px 10px;
   background-color: #f442b0;
   color: black;
   border-color: black;
   box-shadow: 2px 2px 1px grey;
   margin-top: 20px;
}
.guessBox {
   width: 80%;
   height: 80%;
    margin: 0 auto;
   text-align: center;
   padding-top: 30px;
}

.answerBox {
   margin: 0 auto;
   margin-top: 30px;
   color: black; 
   background-color: #710fdb;
   width: 40%;
   font-size: 30px;

}

.header {
   text-align: center;
   color: white;
}

.header h1 {
   font-size: 80px; 
}

.header h3 {
   font-size: 40px;
}

.guess {
    background: white; 
    border: 1px solid grey; 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px grey; 
    color: #666; 
    outline: none; 
    height:40px; 
    width: 300px; 
    text-align: center;
    font-size: 20px;
}